<% if @phones.present? %>

  <% @phones.each do |phone| %>
     <div class = "phone-container">
      <%=  phone.phone_name %>
      <%= link_to("View More", phone_path(phone)) %>
      <%= image_tag(phone.image_1, :class => "image-1") %>
     </div>
  <% end %>

<% else %>

  <div id = "nothing-found">
  Results could not be found
  </div>

<% end %>
