<% if @user.cart.cart_items.present? %>
  <div class = "cart-info">
    <div class="order-info-title">Order Info </div>
    <div class = "order-info">
      <div class="order-info-headings">
        <div>
          Subtotal:
        </div>
        <div>
          Tax:
        </div>
        <div>
          Shipping & Handling:
        </div>
        <div>
          Total:
        </div>
      </div>

      <div class="order-info-attributes">
        <div>
          $<%= number_with_precision(@subtotal, :precision => 2) %>
        </div>

        <div>
          $<%= number_with_precision(@tax_total, :precision => 2) %>
        </div>

        <div>
          Free
        </div>

        <div>
          $<%= number_with_precision(@total, :precision => 2) %>
        </div> <!-- .order-info-attributes div -->

      </div>  <!-- .order-info-attributes -->
    </div>  <!-- .order-info -->
  </div>  <!-- .cart-info -->
<% end %>
