
<%=stylesheet_link_tag("cart_cart", :media => "all") %>

<div class = "cart-container">
  <div class = "shopping-cart"> Shopping Cart </div>
  <hr>
  <% if @user.cart.cart_items.empty? %>
    <div class="empty-cart">Your cart is empty.</div>
    <div class = "back"> <%= link_to("View more cellphones.", phones_path) %></div>
  <% else %>

    <div id="phone-orders-container">
      <div id = "phone-cart">
        <%= render :partial => "cart_info.html.erb" %>
      </div>
      <div id = "phone-orders">
        <%= render :partial => "cart_item.html.erb" %>
      </div>
    </div>

  <% end %>
