@import "variables";

.address-info input[type ="text"]{
  border: solid 0.5px black;
  border-radius: 4px;
  font-family: $font_sans1;
  font-size: 18px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 8px;
  width: 300px;
}

.address-info input[type="submit"]{
  background-color: $teal;
  border: solid 0.5px black;
  border-radius: 4px;
  display: block;
  font-family: $font_serif1;
  font-size: 18px;
  height: 50px;
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
}

.address-info label{
  font-family: $font_serif1;
  font-size: 20px;
}

.cart-info{
  margin-top: 20px;
}

.checkout-container{
  padding-left:30px;
  padding-top:30px;
}

.checkout-title{
  font-family: $font-sans1;
  font-size: 40px;
  font-weight: bold;
}

.error-container{
  background-color: $teal;
  border: solid 0.5px black;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height:50px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
  width:580px;
}

.error-intro{
  font-family: $font_sans1;
  font-size:18px;
  font-weight:bold;
  margin-bottom: 15px;
}

.errors{
  font-family: $font_serif1;
  font-size: 16px;
}

.flash-notice{
  width:600px;
  margin-bottom: 20px;
}

hr{
  border: 1px solid black;
  width: 630px;
}

.user-address div{
  font-family: $font_serif1;
  font-size: 20px;
}

.user-address div:first-of-type{
  font-size: 24px;
  margin-bottom: 20px;
}

.user-address div:last-of-type{
  margin-bottom: 30px;
}
