@import "variables";

.login{
  align-items: center;
  border: solid 0.5px black;
  border-radius:4px;
  display:flex;
  flex-flow: column;
  left: 50%;
  justify-content: center;
  height:400px;
  margin-top:20px;
  transform: translateX(-50%);
  position:relative;
  width: 500px;
}

.login-container{
  position:relative;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width:500px;
}

.register-link{
  color: #4d4db5;
  font-family: $font_sans1;
  font-size:25px;
  margin-top: 30px;
}

.user-form{
  align-items: center;
  display:flex;
  flex-flow: column;
  margin: 0 auto;
}

.user-form a{
  display: flex;
  align-items: center;
}

.user-form label{
  margin-top: 20px;
  position:relative;
  left:-95px;
  font-family: $font_sans1;
  font-size:27px;

}

.user-form input[type = "submit"]{
  border: 0.5px solid black;
  border-radius: 4px;
  background-color: $teal;
  font-family: $font_sans1;
  font-size:25px;
  height:50px;
  margin-top: 35px;
  width: 150px;
}

.user-form input[type = "text"], .user-form input[type ="password"]{
  border: 0.5px solid black;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  padding-left:10px;
  width: 300px;
}
