
*{
  margin:0;
  padding: 0;
}

a{
  color: black;
  text-decoration:none;
}

nav{
  background-color: #cfe4ea;
  border: solid 0.5px black;
  display:flex;
  height:100px;
  padding-left: 20px;
  padding-top: 8px;
  position: fixed;
  width:100%;
  z-index:1;
}

.icon{
  height:90px;
  margin-right:30px;
  width:90px;
}



#logo{
  height: 90px;
  width: 90px;
}

#search_form{
  margin-left:-10px;
  margin-right:20px;
  padding-top:10px;
}

#search_button{
  height:47.5px;
  position: relative;
  top:19px;
  left: -5px;
  width:50px;
}

#search_field{
  border: solid 0.5px black;
  border-radius:4px;
  height: 25px;
  margin-left:50px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-top: 10px;
  width: 450px;
}

.user_info{
  margin-left:auto;
  margin-right:30px;
}
