// Place all the styles related to the phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font_serif1: "Palatino";
$font_sans1: "Arial Black";
$list-color: #9ef2c4;


body, html{
  height:100%;
}

.checkbox{
  height:10px;
}

.checkbox-container{
  border: solid 1px black;
  font-family: $font_serif1;
}

.filter-container{
  display:flex;
  flex-flow: column;
  height: 100vh;
  width: 300px;
}

.image-1{
  height:100px;
  width:100px;
}

input[type="checkbox"]{
  bottom: 4px;
  position: relative;
  transform: scale(1.2);
  margin: 0px;
}

label{
  display: block;
  margin-left:2px;
  margin-top:10px;


}
.page-container {
  border: solid 3px blue;
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  width: 100%;
}

.phone-container{
  border: solid 2px black;
  min-height: 300px;
  width: 800px;


}
.phones-container{
  align-items: center;
  border: solid 2px green;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 900px;
}

#search{
  height:20px;
  padding-bottom:10px;
  padding-top:10px;
  width:150px;
}
.title-container{
  border: solid 1px black;
  background-color: $list-color;
  font-family: $font_sans1;
  height: 30px;
}
