@import "variables";

.attr-box{
  border: solid 1px black;
  border-radius:4px;
  font-family: $font_serif1;
  height: 75px;
  margin-right:60px;
  text-align:center;
  width: 80px;
}

.attr-container{
   display:flex;
   height:100px;
   justify-content: center;
   margin-top:35px;
   margin-left: -22px;
   width:400px;
}

.attr-title{
  font-size:16px;
  padding-top:2px;
}

.attr-title-box{
  background-color: $teal;
  border-bottom:solid 1px black;
  border-radius: 4px 4px 0px 0px;
  height: 20px;
  width: 80px;
  z-index:2
}

.attr-value{
  font-size: 18px;
  padding-top: 15px;
}

.button-cart{
  border: 0.5px solid black;
  border-radius: 4px;
  background-color:$teal;
  font-family: $font_serif1;
  font-size: 20px;
  height:50px;
  position: relative;
  top: -15px;
  width:150px;
}

.image-1{
  margin-top: 10px;
  margin-right:80px;
  height:350px;
  width:220px;
}

.price{
  font-size:32px;
  font-weight:bold;
}

.product{
  display:flex;
  justify-content: center;
  height:500px;
  margin: 0 auto;
  width:1000px;
}


.product_info{
  display: flex;
  flex-flow: column;
}

.product_name{
  font-family:Arial;
  font-size:40px;
  font-weight:bold;
  margin-top:30px;
  text-align: center;
}

.quantity{
  font-size:26px;
}

.quantity-available{
  font-family: $font_serif1;
  font-size:22px;
  margin-top:15px;
  margin-bottom: -8px;
}

.quantity-select{
  font-size: 20px;
  margin-left:20px;
  margin-right:60px;
}


.remove-button{
  width:200px;
  height:200px;
}
.rounded-rectangle{
  border: solid 1px black;
  border-radius: 4px;
  font-family:$font_serif1;
  height:100px;
  margin-top:30px;
  padding-top:30px;
  text-align:center;
  width:260px;
}

.row{
  border-bottom: solid 1px blue;
}

table{
  margin: 0 auto;
  border-spacing: 0px 20px;
}

.table-attr{
  display: inline-block;
  width:400px;
}

.table-attr-value{
  display:inline-block;
  text-align:right;
  width:332px;
}

.table-title{
  border-bottom: 2px solid black;
  font-family:$font_sans1;
  font-size:34px;
  text-align:left;
}

.table-value{
  border-bottom: 0.5px solid black;
  font-family: $font-serif1;
  font-size:28px;
  width:761px;
}
